spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://server1:3306/SHOP?characterEncoding=UTF-8&useSSL=false&useUnicode=true&serverTimezone=UTC
    username: shop
    password: Shop001.
    hikari:
      connection-timeout: 3000
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: true
      idle-timeout: 60_000
      pool-name: DataSourceHikariCP
      max-lifetime: 180_000
      connection-test-query: SELECT 1
  servlet:
    multipart:
      max-file-size: 512000     # 文件上传大小限制为500kb
      max-request-size: 512000  # 请求大小限制为500kb

# 配置MyBatis日志
mybatis-plus:
  type-aliases-package: com.cevier.shop.pojo
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

server:
  port: 8088
  tomcat:
    uri-encoding: UTF-8
  max-http-request-header-size: 80KB


knife4j:
  enable: true
  setting:
    language: zh-CN
    custom-code: 500
    enable-footer-custom: false

#debug: true