<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cevier.shop.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.cevier.shop.pojo.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="father_id" jdbcType="INTEGER" property="fatherId" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="slogan" jdbcType="VARCHAR" property="slogan" />
    <result column="cat_image" jdbcType="VARCHAR" property="catImage" />
    <result column="bg_color" jdbcType="VARCHAR" property="bgColor" />
  </resultMap>
  <resultMap id="categoryTreeMap" type="com.cevier.shop.pojo.vo.CategoryVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="fatherId" jdbcType="INTEGER" property="fatherId" />
    <collection property="subCatList" ofType="com.cevier.shop.pojo.vo.SubCategoryVO">
      <id column="subId" jdbcType="INTEGER" property="subId" />
      <result column="subName" jdbcType="VARCHAR" property="subName" />
      <result column="subType" jdbcType="INTEGER" property="subType" />
      <result column="subFatherId" jdbcType="INTEGER" property="subFatherId" />
    </collection>
  </resultMap>
    <resultMap id="myNewItemsVO" type="com.cevier.shop.pojo.vo.NewItemsVO">
        <id column="rootCatId" property="rootCatId"/>
        <result column="rootCatName" property="rootCatName"/>
        <result column="slogan" property="slogan"/>
        <result column="catImage" property="catImage"/>
        <result column="bgColor" property="bgColor"/>

        <collection property="simpleItemList" ofType="com.cevier.shop.pojo.vo.SimpleItemVO">
            <id column="itemId" property="itemId"/>
            <result column="itemName" property="itemName"/>
            <result column="itemUrl" property="itemUrl"/>
        </collection>
    </resultMap>
    <select id="getCategoryByFatherId" resultMap="categoryTreeMap">
      SELECT
          f.id,
          f.name,
          f.type,
          f.father_id,
          c.id AS subId,
          c.name AS subName,
          c.type AS subType,
          c.father_id AS subFatherId
      FROM category f
      LEFT JOIN category c
      ON f.id = c.father_id
      WHERE f.father_id = #{fatherId}
    </select>
    <select id="getSixNewItemsLazy" resultMap="myNewItemsVO" parameterType="Map">
        SELECT
            f.id as rootCatId,
            f.`name` as rootCatName,
            f.slogan as slogan,
            f.cat_image as catImage,
            f.bg_color as bgColor,
            i.id as itemId,
            i.item_name as itemName,
            ii.url as itemUrl,
            i.created_time as createdTime
        FROM
            category f
                LEFT JOIN items i ON f.id = i.root_cat_id
                LEFT JOIN items_img ii ON i.id = ii.item_id
        WHERE
            f.type = 1
          AND
            i.root_cat_id = #{paramsMap.rootCatId}
          AND
            ii.is_main = 1
        ORDER BY
            i.created_time
                DESC
            LIMIT 0,6
    </select>
</mapper>